aiohttp==3.8.1
aiosignal==1.2.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
autobahn==22.3.2
Automat==20.2.0
bidict==0.22.0
blessed==1.19.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
collision==1.2.2
constantly==15.1.0
cryptography==36.0.2
cycler==0.11.0
Deprecated==1.2.13
fonttools==4.31.2
frozenlist==1.3.0
ghp-import==2.0.2
h5py==3.6.0
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.11.3
incremental==21.3.0
iniconfig==1.1.1
inquirer==2.9.2
Jinja2==3.1.0
kiwisolver==1.4.0
LabExT-pkg @ git+https://github.com/LabExT/LabExT@3c7216b39730fa27c562c80478d0ec5759d61952
-e git+ssh://git@github.com/maltewae/LabExT_Simulation.git@45ad22bebde97cdec424886fe2aa21dc492585f1#egg=LabExT_Simulation
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
mergedeep==1.3.4
mkdocs==1.2.3
mkdocs-autorefs==0.4.1
mkdocs-material==8.2.6
mkdocs-material-extensions==1.0.3
mkdocstrings==0.18.1
mkdocstrings-python-legacy==0.2.2
multidict==6.0.2
numpy==1.22.3
packaging==21.3
parameterized==0.8.1
Pillow==9.0.1
pluggy==1.0.0
py==1.11.0
pycparser==2.21
Pygments==2.11.2
pymdown-extensions==9.3
pyparsing==3.0.7
pyserial==3.5
pytest==7.1.1
python-dateutil==2.8.2
python-editor==1.0.4
pytkdocs==0.16.1
pyusb==1.2.1
PyVISA==1.11.3
PyVISA-py==0.5.2
PyYAML==6.0
pyyaml_env_tag==0.1
readchar==3.0.5
scipy==1.8.0
six==1.16.0
termcolor==1.1.0
tomli==2.0.1
ttkwidgets==0.12.1
Twisted==22.4.0
txaio==22.2.1
typing_extensions==4.1.1
vedo==2022.2.0
vtk==9.0.3
watchdog==2.1.6
wcwidth==0.2.5
wrapt==1.14.0
wslink==1.5.2
yarl==1.7.2
zipp==3.7.0
zope.interface==5.4.0
